
.app-header .nav-item .nav-link {
    color: grey;
    font-weight:bold;
    border-top: 4px solid #e7e7e7 !important;
}
.app-header .nav-item .nav-link :focus {
    color: black;
}
.app-header .nav-item .nav-link.active {
   border-top: 4px solid black !important;
}

.headingPrimary {
    color: rgb(71, 191, 247);
} 
ul{
    list-style-type:none !important;
}
h1{
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}
.pagination{
    margin: 0px !important ;
    float: right !important;
}
table thead .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  
  table thead .dropup .caret,
  table thead .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
  }
  .react-bootstrap-table table { 
    overflow: auto !important;
    table-layout: auto !important;
 }